.about-content {
  max-height: 100%;
  margin-top: -2em;
  background-color: black;
  display: flex;
  justify-content: center;
}
.wrapper {
  background-color: black;
}

.columns {
  display: grid;
  max-width: 80%;
  margin-left: 11em;
  /* max-height: 100%; */
  grid-template-columns: 1fr 1fr;
}
.columns-contact__text {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}
.columns__portrait {
  background-color: white;
  max-width: 80%;
  background-color: black;
}
.columns__portrait-image {
  object-fit: contain;
  max-width: 100%;
  padding: 3em;
  margin-top: 2em;
}
.columns__text {
  margin-top: 1.5em;
  background-color: white;
  color: white;
  padding: 2em;
  font-size: 1.1em;
  line-height: 2.2;
  background-color: black;
}
.social-links {
  color: white;
  /* text-decoration: none; */
}
@media screen and (max-width: 600px) {
  .columns {
    margin-left: 0;
    grid-template-columns: 1fr;
  }
  .columns__text {
    margin-top: -1em;
    margin-left: 3em;
    color: white;
    padding: 0.5em;
    font-size: 1.1em;
    line-height: 2.2;
    background-color: black;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .columns {
    margin-left: 0;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .columns {
    margin-left: 6em;
    grid-template-columns: 1fr 1fr;
  }
}
