.about-content {
  max-height: 100%;
  margin-top: -2em;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: "helvetica neue";
}
.wrapper {
  background-color: white;
}

.columns {
  display: grid;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  z-index: 5;

  /* max-height: 100%; */
  grid-template-columns: 1fr 1.8fr;
}
.columns-contact__text {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}
.columns__portrait {
  position: absolute;
  left: 0;
  margin-top: 1em;
  margin-left: 4em;
}
.columns__portrait-image {
  max-height: 80vh;
  z-index: 1;
}
.columns__text {
  margin-top: -0.5em;
  background-color: white;
  color: white;
  padding: 2em;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5;
  color: black;

  /* background-color: black; */
}
.social-links {
  color: white;
  /* text-decoration: none; */
}
@media screen and (max-width: 600px) {
  .columns {
    margin-left: 0;
    grid-template-columns: 1fr;
  }
  .columns__text {
    margin-top: -1em;
    margin-left: 3em;
    color: white;
    padding: 0.5em;
    font-size: 1.1em;
    line-height: 2.2;
    background-color: black;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .columns {
    margin-left: 0;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .columns {
    margin-left: 6em;
    grid-template-columns: 1fr 1fr;
  }
}
