.home-video {
  background: rgba(0, 0, 0, 0.4);
  /* max-width: 100%; */
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
}
.home-content {
  background-color: black;
}
.header__site-title-home {
  background-color: black;
  position: fixed;
  width: 70%;
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 2em;
  color: white;
  padding: 0.1em;
  opacity: 0.9;
}
.bottom-nav {
  bottom: 0;
  left: 7%;
  color: white;
  background-color: black;
  position: absolute;
  display: flex;
  flex: 1 1 auto;
  max-width: 100%;
  margin-bottom: 3em;
  opacity: 0.85;
}
.bottom-nav__link {
  padding: 1em;
  color: white;
  font-size: 1.1em;
  list-style-type: none;
  text-decoration: none;
}
.bottom-nav__link__first {
  /* padding: 1em; */
  padding-left: -1.5em;
  padding-right: 1.2em;
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.home__name {
  padding-left: 1em;
}
.videoContainer {
  min-width: 100%;
  max-height: 100%;
  background-color: white;
}
@media screen and (max-width: 600px) {
  .header__site-title-home {
    background-color: black;
    width: 100%;
    position: sticky;
    font-size: 0.8em;
    margin-top: -1em;
    margin-left: 0em;
    color: white;
    padding: 0.5em;
    padding-top: 2em;
    opacity: 0.8;
    /* display: none; */
  }
  .home-video {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .bottom-nav {
    /* position: relative; */
    left: 0%;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    flex-direction: column;
  }

  .bottom-nav__link {
    /* border: 1px solid white; */

    color: white;
    /* margin-left: -2em; */
    font-size: 1em;
    list-style-type: none;
    text-decoration: none;
    padding-left: 1em;
    max-width: 100%;
    padding-right: 10.6em;
  }
  .bottom-nav__link__first {
    /* padding: 1em; */
    padding-left: 0;
    padding-right: 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .home-video {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
  }
  .bottom-nav {
    background: blue;
    position: fixed;
    left: 0%;
    margin-bottom: 0;
  }
  .header__site-title-home {
    width: 100%;
    display: none;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .header__site-title-home {
    background-color: black;
    max-width: 100%;
    position: sticky;
    font-size: 1.5em;
    /* margin-top: -57em; */
    margin-left: 0em;
    color: white;
    padding: 0.5em;
    padding-top: 2em;
    opacity: 0.8;
  }
  .home-video {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
  }
  .bottom-nav {
    color: white;
    background-color: black;
    margin-top: 62em;
    display: flex;
    max-width: 95.9%;
    flex-direction: column;
    margin-left: 0em;
    opacity: 0.8;
  }

  .bottom-nav__link {
    /* border: 1px solid white; */

    color: white;
    margin-left: -2em;
    font-size: 1.3em;
    list-style-type: none;
    text-decoration: none;
    padding-left: 2.5em;
  }
  .bottom-nav__link__first {
    /* padding: 1em; */
    padding-left: 0;
    padding-right: 0;
    color: white;
    list-style-type: none;
    text-decoration: none;
  }
}
