.menu {
  background-color: white;
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
}
.menuWrapper {
  margin-left: -2em;
  margin-top: -2em;
  /* padding: 1em; */
  background-color: white;
  display: grid;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* padding-right: 3em;
  padding-top: 4em; */
  max-width: 100%;
  /* grid-template-columns: 25% 25% 25% 25%; */
}

.photoText {
  position: relative;
  z-index: 1;
  top: -8em;
  margin-left: 0em;
  /* margin-top: -6.5em; */
  text-align: center;
  font-size: 48px;
  max-width: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.63);
}
.photoLink {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  padding: 0;
}

.photoWrapper__li-menu {
  margin-left: 2em;
  margin-top: 2em;
  box-sizing: border-box;
  height: 80vh;
  max-width: 100%;
  flex-grow: none;
  list-style-type: none;

  /* border: 1px solid white; */
}

.image {
  max-height: 70%;
  width: auto;
}
@media only screen and (max-width: 600px) {
  .menuWrapper {
    margin-left: 0em;
    margin-top: 0em;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 400px;
  }
  .photoWrapper__li-menu {
    margin-top: 0;
    margin-left: 0;
    /* left: 50%; */
    background-color: white;
    max-height: 70vh;
    max-width: 80%;
  }
  .image {
    position: relative;
    /* max-height: 100%; */
    width: 100%;
  }

  .photoText {
    top: -6.75em;
    margin-top: 2em;
    font-size: 48px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .menuWrapper {
    margin-top: 1em;
    grid-template-columns: 400px;
    background-color: green;
  }
  .photoWrapper__li-menu {
    margin-top: 0;
    margin-left: 0em;
    background-color: white;
    height: 70vh;
    max-width: 100%;
    /* border: 1px solid white; */
  }

  /* .photoText {
    max-width: 100%;
  } */
}
@media only screen and (min-width: 1024px) and (max-width: 1360px) {
  .menuWrapper {
    margin-top: 1em;
    grid-template-columns: 500px;
  }
  .photoWrapper__li-menu {
    margin-top: 0;
    margin-left: 0em;
    background-color: white;
    height: 70vh;
    width: 100%;
    /* padding-bottom: 5em; */
    /* border: 1px solid white; */
  }
  .image {
    max-height: 70%;
  }
}
@media only screen and (min-width: 1360px) {
  .menuWrapper {
    margin-left: 0;
    margin-top: 1em;
    background: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .photoWrapper__li-menu {
    padding: 1em;
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0em;
    background-color: white;
    height: 100vh;
    width: 100%;
    /* border: 1px solid white; */
  }
  .image {
    box-sizing: border-box;
    padding: 1em;
    height: 60%;
    width: 100%;
  }
}
/* @media (max-width: 560px) {
  .menu {
    border: 1px solid white;
  }
  .photoText {

    margin-left: 0.5em;
    text-align: center;
    margin-top: -7em;
    font-size: 30px;
    color: black;
  }
  .menuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -2em;
  }
  .photoWrapper__li-menu {
    box-sizing: border-box;
    padding: 0.5em;
    width: 90vw;

    height: 50vh;
    list-style-type: none;
  }
  .image {
    max-height: 100%;
    width: auto;
  }
} */
/* @media only screen and (max-device-width: 1024px) {
  .photoText {
    margin-top: -8em;
    text-align: center;
    font-size: 30px;
    color: black;
  }
  .menuWrapper {
    box-sizing: border-box;
    margin-left: 11em;
    grid-template-columns: 400px 400px;
    display: none;
  }
  .photoWrapper__li-menu {
    box-sizing: border-box;
    height: 40vh;
    flex-grow: none;
    list-style-type: none;
    padding: 1em;
  }
  .image {
    max-height: 100%;
    width: auto;
  }
  .menu {
    height: 100vh;
  }
} */
/* @media only screen and (max-device-width: 1366px) {
  .photoText {
   
    margin-top: -8em;
    text-align: center;
    font-size: 30px;
    color: black;
  }
  .menuWrapper {
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    grid-template-columns: 300px 300px 300px 300px;
    display: none;
  }
  .photoWrapper__li-menu {
    box-sizing: border-box;
    height: 40vh;
    flex-grow: none;
    list-style-type: none;
    padding: 1em;
  }
  .image {
    max-height: 100%;
    width: auto;
  }
  .menu {
    height: 100vh;
  }
} */
