.menu {
  background-color: white;
}
.photoText {
  position: relative;
  margin-left: 0.8em;
  margin-top: -6.5em;
  text-align: center;
  font-size: 48px;
  max-width: 80%;
  color: black;
  background-color: rgba(255, 255, 255, 0.63);
}
.photoLink {
  text-decoration: none;
}
.menuWrapper {
  width: 50%;
  margin-left: -2em;
  margin-top: -2em;
  background-color: white;
  /* margin-left: 25%; */
  display: grid;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 3em;
  padding-top: 4em;
  max-height: 100%;
  grid-template-columns: 400px 400px 400px 400px;
  /* column-gap: 3em; */
}

.photoWrapper__li-menu {
  margin-left: 2em;
  margin-top: 2em;
  box-sizing: border-box;
  padding: 0.5em;
  height: 80vh;
  flex-grow: none;
  list-style-type: none;

  /* border: 1px solid white; */
}

.image {
  max-height: 70%;
  width: auto;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .menu {
    border: 1px solid white;
  }
  .photoText {
    /* position: absolute; */

    margin-left: 0.5em;
    text-align: center;
    margin-top: -7em;
    font-size: 30px;
    color: black;
  }
  .menuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -2em;
    /* grid-template-columns: 300px; */
  }
  .photoWrapper__li-menu {
    box-sizing: border-box;
    padding: 0.5em;
    width: 90vw;

    height: 50vh;
    list-style-type: none;
  }
  .image {
    max-height: 100%;
    width: auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .photoText {
    /* position: absolute; */

    /* margin-left: 2.5em; */
    margin-top: -8em;
    text-align: center;
    font-size: 30px;
    color: black;
  }
  .menuWrapper {
    /* width: 0%;
    /* margin-top: -2em; */
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 11em;
    grid-template-columns: 400px 400px;
  }
  .photoWrapper__li-menu {
    box-sizing: border-box;
    height: 40vh;
    flex-grow: none;
    list-style-type: none;
    padding: 1em;
    /* border: 1px solid white; */
  }
  .image {
    max-height: 100%;
    width: auto;
  }
  .menu {
    height: 100vh;
  }
}
