.header {
  /* position: fixed; */
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 100%;
  display: flex;
  padding: 3em;
}

.header__site-title {
  padding-left: 4em;
  color: black;
  flex: 7 1 auto;
  /* border: 1px solid white; */
  /* max-width: 100%; */
}

.navbar {
  /* color: #fff;
  margin-left: 20em;
  max-width: 100%; */
  flex: 1 1 auto;
}
.navbar_li {
  display: inline;
  /* border: 1px solid white; */
}
.navbar__list {
  display: flex;
  list-style-type: none;
  margin-top: 1.2em;
  flex: 1 1 auto;
  /* border: 1px solid white; */
}
.navbar__link {
  color: black;
  padding: 1em;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  display: none;
}
.sidebar__ul {
  display: none;
}
.hamburger {
  display: none;
}
.dropdown {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}
.dropdown__item {
  /* margin-top: 0.2em; */
  list-style: none;
  color: #5d6063;
  text-decoration: none;
  padding-right: 1em;
  padding: 1em;
  padding-left: 0;
}

.dropdown__hover {
  color: black;
  padding: 1em;
  list-style: none;
  text-decoration: none;
  position: relative;
}
.dropdown__hover:hover .dropdown__li {
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  margin-top: 1em;
}
.dropdown__li {
  display: none;
}

@media (min-width: 1151px) and (max-width: 2000px) {
  .col-0 {
    width: 0%;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .sidebar {
    display: none;
  }
  .sidebar-show {
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 2;
    display: block;
    /* border: 1px solid white; */
    left: 0;
    width: 100%;
    height: 100%;
  }
  .sidebar__ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    /* border: 1px solid white; */
    align-content: space-between;
    height: 60%;
    margin-left: 10.2em;
    width: 20%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
  .sidebar__li {
    margin-top: 2em;
  }
  .sidebar__button {
    border: 1px solid white;
    background-color: black;
    color: #fff;
    margin-left: 9em;
    margin-top: 0.5em;

    padding: 0.5em;
    font-size: 1em;
  }
  .sidebar__link {
    font-size: 1.5em;
    color: #fff;
    width: 100%;
    text-decoration: none;
    /* border: 1px solid white; */
  }
  .hamburger {
    display: block;
    padding-left: 4em;
    padding-top: 1.7em;
    /* margin-left: 5em; */
    flex: 1 1 auto;
    /* border: 1px solid white; */
  }
  .drawerBtn {
    background: black;
    color: white;
  }
  /* .navbar {
    width: 0%;
    padding: 0;
  } */
  .navbar__list {
    /* width: 0%;
    padding: 0; */
    display: none;

    /* border: 1px solid white; */
  }
  .navbar__link {
    /* width: 0%;
    padding: 0; */
    display: none;
  }
  .header {
    padding: 1em;
    max-width: 100%;
    box-sizing: border-box;
  }
  .header__site-title {
    padding-left: 3em;
    padding-top: 0.3em;
    /* width: 66.66%; */
    flex: 13 1 auto;
    font-size: 13px;
  }

  .dropdown__item {
    /* margin-top: 0.2em; */
    list-style: none;
    color: white;
    text-decoration: none;
    padding-right: 1em;
    padding: 1em;
    padding-left: 0;
    font-size: 0.7em;
  }

  .dropdown__hover {
    color: white;
    width: 100%;
    margin-top: 0.5em;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    /* position: relative; */
    font-size: 1.5em;
  }
  .dropdown__hover:hover .dropdown__li {
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    margin-top: 1em;
  }
  .dropdown__li {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .sidebar {
    display: none;
  }
  .sidebar-show {
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 2;
    display: block;
    /* border: 1px solid white; */
    left: 0;
    width: 100%;
    height: 110%;
  }
  .sidebar__ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    /* border: 1px solid white; */
    align-content: space-between;
    height: 60%;
    margin-left: 22.2em;
    width: 20%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 2em;
  }
  .sidebar__li {
    margin-top: 2em;
  }
  .sidebar__button {
    border: 1px solid white;
    background-color: black;
    color: #fff;
    margin-left: 11.5em;
    margin-top: 0.5em;

    padding: 0.5em;
    font-size: 1.5em;
  }
  .sidebar__link {
    font-size: 2em;
    color: #fff;
    width: 100%;
    text-decoration: none;
    /* border: 1px solid white; */
  }
  .hamburger {
    display: block;
    padding-left: 8em;
    padding-top: 2em;
    /* margin-left: 5em; */
    flex: 1 1 auto;
    /* border: 1px solid white; */
  }
  .drawerBtn {
    background: black;
    color: white;
  }
  .navbar__list {
    display: none;

    /* border: 1px solid white; */
  }
  .navbar__link {
    /* width: 0%;
    padding: 0; */
    display: none;
  }
  .header {
    padding: 1em;
    max-width: 100%;
    box-sizing: border-box;
  }
  .header__site-title {
    padding-left: 3em;
    padding-top: 0.3em;
    /* width: 66.66%; */
    flex: 13 1 auto;
    font-size: 14px;
  }
}
