.header {
  /* position: fixed; */
  box-sizing: border-box;
  position: relative;
  background-color: white;
  width: 100%;
  /* opacity: 0.5; */
  display: flex;
  padding: 3em;
}
.logo-nav {
  text-decoration: none;
}
.header__site-title {
  padding-left: 4em;
  color: black;
  flex: 7 1 auto;
  /* border: 1px solid white; */
  /* max-width: 100%; */
}

.navbar {
  flex: 1 1 auto;
}
.navbar_li {
  display: inline;
  /* border: 1px solid white; */
}
.navbar__list {
  display: flex;
  list-style-type: none;
  margin-top: 1.2em;
  flex: 1 1 auto;
  /* border: 1px solid white; */
}
.navbar__link {
  color: black;
  padding: 1em;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  display: none;
}
.sidebar__ul {
  display: none;
}
.hamburger {
  display: none;
}
.dropdown {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}
.dropdown__item {
  /* margin-top: 0.2em; */
  list-style: none;
  color: #5d6063;
  text-decoration: none;
  padding-right: 1em;
  padding: 1em;
  padding-left: 0.3em;
  background-color: white;
}

.dropdown__hover {
  color: black;
  padding: 1em;
  list-style: none;
  text-decoration: none;
  position: relative;
}
.dropdown__hover:hover .dropdown__li {
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  margin-top: 1em;
}
.dropdown__li {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header__site-title {
    font-size: 0.8em;
    padding: 0;
  }
  .hamburger {
    display: block;
    padding-left: 8em;
    padding-top: 2em;
    flex: 1 1 auto;
  }
  .drawerBtn {
    background: black;
    color: white;
  }
  .navbar__list {
    display: none;

    /* border: 1px solid white; */
  }
  .sidebar {
    display: none;
  }
  .sidebar-show {
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 110%;
  }
  .sidebar__ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 60%;
    margin-left: 45%;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 3em;
  }
  .sidebar__li {
    margin-top: 2em;
    font-size: 0.7em;
  }
  .sidebar__button {
    position: absolute;
    border: 1px solid white;
    background-color: black;
    color: #fff;
    margin-top: -0.5em;
    padding: 1em;
    right: 0;
    margin-right: 2em;
  }
  .sidebar__link {
    font-size: 2.2em;
    color: #fff;
    width: 100%;
    text-decoration: none;
    /* border: 1px solid white; */
  }
  .dropdown__hover {
    font-size: 1.5em;
    color: white;
    width: 100%;
    margin-top: 0.5em;
    padding-left: 0;
    list-style: none;
    text-decoration: none;

    /* position: relative; */
  }
  .dropdown__hover:hover .dropdown__li {
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    margin-top: 1em;
  }
  .dropdown__li {
    display: none;
    font-size: 0.5em;
    margin-left: -1em;
  }
  .dropdown__item {
    color: white;
    background-color: black;
    font-size: 1.5em;
  }
}
