.content {
  /* background-color: white; */
  margin-left: 10%;
  max-width: 80%;
  height: 90%;
  padding: 20px;
  z-index: 10;
}
.exit-click-region {
  height: 90%;
  width: 100%;
  margin-top: -52em;
}
.exit {
  margin-left: 90%;
  z-index: 2;
  width: 5%;
  height: 5%;
  border: 1px solid red;
  /* display: none; */
}
.lightboxImage {
  /* max-width: 100%;
  max-height: 100%; */
  margin-top: -1.3em;
  z-index: 5;
  position: relative;
  object-fit: contain;
}
.modal {
  z-index: 5;
  margin-top: -9.3em;

  position: fixed;
  background-color: rgb(5, 5, 5);
  height: 100%;
  width: 100%;
}
.prevButton {
  z-index: 11;
  margin-left: -115em;
  position: absolute;
  margin-top: 35em;
}
.nextButton {
  position: absolute;
  z-index: 10;
  /* margin-left: 115em; */
  margin-top: 35em;
}
